# Default values for docmost.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1


# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: docmost/docmost
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

#This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Automatically mount a ServiceAccount's API credentials?
  automount: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# -- This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

# For proper volume mounts
podSecurityContext:
  fsGroup: 2000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 2000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # -- This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # -- This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 3000

# -- This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations:
    # cert-manager.io/cluster-issuer: "letsencrypt"
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: docmost.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: {}
   # - secretName: docmost-example-tls
   #   hosts:
   #     - docmost.example.com

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

# -- Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# -- Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

# -- Persistence configuration
persistence:
  enabled: false
  existingClaim: ""
  storageClassName: ""
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: "5Gi"

# -- Docmost values
docmost:
  # -- Docmost externally accessible URL.
  # -- Needs to be set for get docmost container working.
  appUrl: ""
  drawIO:
    # -- Custom draw.io server url.
    url: ""
  smtp:
    # -- Should SMTP be enabled?
    enabled: false
    # -- The SMTP server to use for sending emails.
    host: ""
    # -- The port to use for the SMTP server.
    port: 587
    # -- Use TLS when connecting to the server, typically for port 465.
    # See nodemailer 'secure' for details
    secure: false
    mailFrom:
      # -- The email address from which emails will be sent.
      address: ""
      # -- The name associated with the email address from which emails will be sent.
      name: "Docmost"
    auth:
      # -- The username for the SMTP server.
      username: ""
      # -- The password for the SMTP server.
      password: ""
      # -- An existing secret containing the SMTP server username and password.
      existingSecret: ""

# PostgreSQL configuration using official Docker Hub image
postgresql:
  # -- Image configuration
  image:
    repository: postgres
    tag: "18.0-alpine"
    pullPolicy: IfNotPresent
  
  # -- Image pull secrets for private registries
  imagePullSecrets: []
  
  # -- Authentication configuration
  auth:
    database: "docmost"
    username: "docmost"
    password: "docmost2025!"  # Change this in production
  
  # -- Resources configuration
  resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
  
  # Persistence configuration
  persistence:
    enabled: true
    existingClaim: ""
    storageClassName: ""
    accessModes: ["ReadWriteOnce"]
    resources:
      requests:
        storage: "8Gi"

# -- Redis configuration using official Docker Hub image
redis:
  # -- Image configuration
  image:
    repository: redis
    tag: "8.2.3-alpine"
    pullPolicy: IfNotPresent
  
  # Image pull secrets for private registries
  imagePullSecrets: []

  # Resources configuration
  resources: {}
    # limits:
    #   cpu: 250m
    #   memory: 256Mi
    # requests:
    #   cpu: 50m
    #   memory: 64Mi
  
  # Persistence configuration
  persistence:
    enabled: false
    existingClaim: ""
    storageClassName: ""
    accessModes: ["ReadWriteOnce"]
    resources:
      requests:
        storage: "2Gi"
