apiVersion: v1
kind: Service
metadata:
  name: {{ include "docmost.fullname" . }}-postgresql
  labels:
    {{- include "docmost.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: postgresql
    protocol: TCP
    name: postgresql
  selector:
    {{- include "docmost.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql