apiVersion: v1
kind: Service
metadata:
  name: {{ include "docmost.fullname" . }}-redis
  labels:
    {{- include "docmost.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: redis
    protocol: TCP
    name: redis
  selector:
    {{- include "docmost.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis